body {
    margin: 0;
    padding: 0;
    user-select: none;
    font: normal 28px Raleway, Arial, Helvetica, sans-serif;
}
.fab {
    color: #fff;
    }
.header-fixed {
    background-color: #ffffff;
    box-shadow:0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    top:-100px;

    -webkit-transition:top 0.3s;
    transition:top 0.3s;
}

.header-fixed .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
    height: 80px;
    display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
    float: left;
    font: normal 28px Raleway, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

.header-fixed .header-limiter h1 span {
    color: #DC1B16;
}

/* The navigation links */

.header-fixed .header-limiter a {
    color: #000000;
    text-decoration: none;
}

.header-fixed .header-limiter nav {
    font:16px "Raleway", Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: right;
}

.header-fixed .header-limiter nav a{
    display: inline-block;
    padding: 0 5px;
    text-decoration:none;
    color: #000000;
    font-weight: bold;
    opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
    opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
    padding: 10px 40px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #ffffff;
}

body.fixed .header-fixed-placeholder {
    display: block;
}

body.fixed .header-fixed .header-limiter h1 {
    font-size: 24px;
    line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
    line-height: 28px;
    font-size: 13px;
}


/* Making the header responsive */

    .jumbotron {
        padding-top: 0px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        color: inherit;
        background: #f0f8ff;
    }

    .jumbotron p {
        font-size: 18px;
        font-weight: 400;
    }

    h1 {
        color: white;
        font-size: 2em;
    }

    h3 {
        color: white;
        font-size: 1em;
    }

    .hero {
        background-image: url(Images/angular-cover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 50px 0;
        min-height: 320px;
        position: relative;
        background-attachment: fixed;
    }

    .hero-content {
        position: relative;
        top: 50%;
        bottom: 50%;
        width: 100%;
        text-align: center;
    }

    main {
        min-height: 500px;
        background: aliceblue;
        padding: 50px 0;
    }

    .container {
        background: aliceblue;
        width: 100%;
    }

    .links a {
        color: #fff;
        font-family: "Raleway", sans-serif;
    }

    .row {
        padding: 20px 40px 20px 40px;
        margin: 0 auto;
    }

    .outer {
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-shadow: 0px 2px 1px #aaa;
        font-size: 2em;
        position: relative;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 40px;
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
    }

    .outer .outer-content {
        z-index: 1;
    }

    .outer .outer-corner {
        height: 40px;
        width: 40px;
        border-right: 5px solid rgba(255, 255, 255, 0.5);
        border-top: 5px solid white;
        position: absolute;
        right: -30px;
        top: -30px;
    }

    .main {
        background: linear-gradient(to bottom, transparent, white 40px);
        transform: translateY(-40px);
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
        position: relative;
    }

    .main p {
        margin: 0px;
        font-weight: 300;
    }

    .main p.st {
        margin-top: 20px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .main p.st:first-of-type {
        margin-top: 0px;
    }

    .main .pd {
        padding: 40px;
    }

    .main .map {
        width: 200px;
        height: 200px;
        background: url("https://s32.postimg.org/rienefced/Ultra_Light_with_Labels_Snazzy_Maps_Free_Sty.png");
        background-size: 220%;
        -webkit-filter: contrast(100%);
        position: absolute;
        right: -20px;
        top: 20px;
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
    }

    .main .img {
        position: absolute;
        bottom: 0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        background: url(https://images.unsplash.com/photo-1452110040644-6751c0c95836?crop=entropy&dpr=2&fit=crop&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450);
        background-size: cover;
        width: 100%;
        height: 10px;
    }

    .main .main-outer {
        height: 40px;
        width: 40px;
        border-left: 5px solid rgba(255, 255, 255, 0.5);
        border-bottom: 5px solid white;
        position: absolute;
        left: -30px;
        bottom: -30px;
    }


